{% extends 'flatpages/default.html' %}


{% block title %}
Отклики на мои объявления
{% endblock title %}

{% block content %}
    {% for reply in replies %}
      <p>{{ reply.date_created }}</p>
        <a href="{% url 'replies_sorted_list' reply.post.id %}">{{ reply.post.title }}</a>
      <p>{{ reply.text }}</p>
        <a href="{% url 'reply_update' pk=reply.pk %}">Принять</a>
        <a href="{% url 'reply_delete' pk=reply.pk %}">Удалить</a>
<br>
<br>
<br>
    {% empty %}
      <p>Нет откликов.</p>
    {% endfor %}